.form {
  padding: 30px 0;

  background-color: #2d3651;
 
}
.form-container {
    max-width: 1340px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    display: grid;
    grid-gap: 20px;
    
    @include lg-min {
        grid-template-columns: repeat(3, 1fr);
    }
    @include lg-md {
        grid-template-columns: repeat(3, 1fr);

    }
    @include md-sm {
        grid-template-columns: 1fr 1fr;

        
    }
    
}

.form .btn-accent {
  
  width: 100% !important;


    color: #ffffff;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .form .btn-accent:hover,
  .form .btn-accent:focus {
    cursor: pointer;
  
    border-color: #ffffff;
    background-color: #d66926;
  }

.form-item {
    width: 100% !important;
    
}
.form-item__input {
    border: none;
    padding-right: 30px;
    padding-left: 30px;
    height: 60px;
    width: 100%;
    font-family: $font-main;
    font-size: 18px;
    outline: none;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.05) ;

    border: 2px solid rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0.025);
     transition: border-color 0.5s;
    transition: background-color 0.5s;

    &:focus ,
    &:hover {
        border-color: rgba(255, 255, 255, 0.15);
        border-bottom-color: #ffffff;
        background-color: rgba(255, 255, 255, 0.15);

    }
    &::placeholder {
        color: #637588;


        &:focus ,
        &:hover {
         color: #8c9bab;   
        }
    }
    
}

.form-item:first-of-type {
    @include md-sm {
        grid-column: 1 / span 2;
    }
}



